h1 {
    text-align: center;
    

}

h2 {
    text-align: center;

}

div {

    padding: 100px;
    color:rgb(121, 6, 6);
    background-color: rgb(176, 176, 177);
}

.stocks {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

.stocks div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}


